.container
  .jumbotron
    h1 The Mrkt
    p Welcome to the Mrkt!
    p How many times have you been casually walking around the farmers market on a weekend morning, sun on your face, breeze rustling your hair, maybe accompanied by friends and loved ones, and thought "Why can't I just be at home, inside, on my computer &#8253;"?
    p Likely never, but I thought it would be a good premise for implementing an app on the MEAN stack with two-model CRUD functionality. Hooray! 
    p And, in the case that you have, Fret no more! the Mrkt in its current form brings you a list of merchants who will and won't be there! What else could one want?
  
  .row
    .col-md-8
      div(ng-include="'/partials/_open-merchants'")
    .col-md-4
      div(ng-include="'/partials/_closed-merchants'")
